@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700;800&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
html,body{
     height: 100%;
 }
body{
    font-family: 'Dosis', sans-serif;
 }
p,a,span{
     font-weight: 300;
     text-transform: capitalize;
 }
a{
     text-decoration: none;
 }
h1,h2,h3,h4,h5,h6{
     font-weight: 700;
     text-transform: capitalize;
 }
ul{
     list-style: none;
 }
img{
     max-width: 100%;
     vertical-align: middle;
 }
.text-right{
     text-align: right;
 }
.text-left{
     text-align: left;
 }
.text-justify{
     text-align: justify;
 }
.pt-100{
     padding-top: 100px;
 }
.pb-100{
     padding-bottom: 100px;
 }
 .pt-50{
     padding-top: 50px;
 }
.pb-50{
    padding-bottom: 50px;
}
 .mt-100{
     margin-top: 100px;
 }
 .mb-100{
     margin-bottom: 100px;
 }
.mt-50{
    margin-bottom: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.pb-30{
    padding-bottom: 30px;
}

/* Header area start*/
.top {
    padding: 10px 0;
    background-color: #025BA7;
  }
.top-left a{
    padding: 0 6px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
  }
.top-left i,.top-right i{
    padding: 0 6px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
.top-right a {
	display: inline-block;
	color: #000;
	background-color: #fff;
	padding: 2px 15px;
	font-weight: bold;
}
.header{
    background-image: linear-gradient(to right,#8D2486,#2A36B3,#42AFCA,#005a1d,#F8CE21,#FF5030,#EB2139);
}
.logo {
    padding: 0px 50px;
  }
.logo a {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
.menu ul li {
    display: inline-block;
    padding: 8px 20px;
  }
.menu ul li a {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
  }
  /*header area end*/
   /*banner area start*/
.bg{
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
.bg::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url('assets/img/shape.png');
    bottom: 0;
   }
.banner-contant {
	position: absolute;
	top: 40%;
	left: 13%;
	transform: translate(-50%,-50%);
	background-color: #025BA7;
	padding: 121px 98px;
	color: #fff;
	letter-spacing: 2px;
	line-height: 40px;
	border-radius: 155px 0px 0px 155px;
	box-shadow: 3px 3px 2px 5px #fff;
}
.banner-contant span{
    font-size: 14px;
}
.banner-contant-icon {
	position: absolute;
	left: 98%;
	font-size: 57px;
	top: 43%;
	color: #025BA7;
    transition: .5s;
}
.banner-contant-icon:hover{
    top: 0%;
}
/*about area start*/
.about{
    position: relative;
}
.about-content{

}
.about-content span,.title span{
    color: #EB2139;
    font-weight: bold;
}
.about-content h3,.title h3{
    background:linear-gradient(#EB2139,#8D2486,#2A36B3);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.about-content p{
    text-align: justify;
    line-height: 30px;
    font-weight: 600;
    color: #333;
}
.about-content h5,.single-table h4{
    display: inline-block;
    background:linear-gradient(#EB2139,#8D2486,#2A36B3);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.about-content i {
	color: #EB2139;
	font-size: 20px;
    padding: 0px 8px;
}
.about-content i:hover{
    color: #2A36B3;
}
.about-content img{
    position: absolute;
	top: 50%;
}
.bar .single-progress {
    padding-bottom: 18px;
  }
.bar .single-progress  h5 {
    color: #ED2139;
}
.progress-bar {
	background-image: linear-gradient(to left,#EB2139,#8D2486,#2A36B3);
}
.about-right{
    position: relative;
}
.about-right .img1,.about-right .img2,.about-right .img3,.about-right .img4{
    position: absolute;
}

.about-right .img1 {
	top: 226px;
	right: -80px;
}
.about-right .img2{
    top: -43px;
    transition: .7s;
    width: 220px;
}
.about-right .img3 {
	top: 226px;
	left: -56px;
}
.about-right .img4 {
    top: 92%;
    z-index: -1;
    left: 103px;
  }
.about-right .img2:hover{
    left: 26%;
}
/*section title start*/
.section-title{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: -1;
}
.back-clr,.back-clr2,.back-clr3,.back-clr4{
    padding: 22px;
}
.back-clr img,.back-clr2 img,.back-clr3 img,.back-clr4 img{
    border-radius: 6%;
    width: 180px;
}
.back-clr h5,.back-clr2 h5,.back-clr3 h5,.back-clr4 h5{
    font-size: 22px;
    padding: 10px;
}
.back-clr{
    background-image: linear-gradient(#8D2486,#2A36B3,#42AFCA);
    position: relative;
}
.back-clr::after{
    background-color: #F37145;
}
.back-clr::after,.back-clr2::after,.back-clr3::after,.back-clr4::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	right: -8px;
	bottom: -8px;
}
.back-clr2{
    background-image: linear-gradient(#005a1d,#FF5030,#F8CE21);
    position: relative;
}
.back-clr2::after{
    background-color: #8E44AD;
}
.back-clr3{
    background-image: linear-gradient(#EB2139,#8D2486,#2A36B3);
    position: relative;
}
.back-clr3::after{
    background-color: #33AEA8;
}
.back-clr4{
    background-image: linear-gradient(#F8CE21,#42AFCA,#EB2139);
    position: relative;
}
.back-clr4::after{
    background-color: #E35565;
}
.back-clr:hover i,.back-clr2:hover i,.back-clr3:hover i,.back-clr4:hover i{
    transform: rotate(70deg);
}
/* section title area end*/
/* teachers area start*/
.team1,.team2,.team3{
    position: relative;
}
.team-icon {
	position: absolute;
	right: 4px;
    background-image: linear-gradient(#EB2139,#8D2486,#2A36B3);
	height: 76%;
	width: 10%;
	top: 0;
	z-index: 1;
	left: 90%;
	border-radius: 0px 11px 2px 20px;
    transition: .8s;
}
.team-icon i {
	display: block;
	padding: 16px 0px;
	font-size: 25px;
	color: #fff;
}
.team1 h4,.team2 h4,.team3 h4{
    padding-top: 15px;
    color: #EB2139;
}
.team1 img,.team2 img,.team3 img{
    border-radius: 7%;
}
.team-overlay {
	position: absolute;
	top: 0;
	left: 29px;
	background-image: linear-gradient(#EB2139,#8D2486,#2A36B3);
	height: 76%;
	width: 92%;
	border-radius: 7%;
	visibility: hidden;
    transition: .8s;
}
.team-overlay p {
    padding-top: 17px;
    color: #fff;
}
.team1:hover .team-overlay,.team2:hover .team-overlay,.team3:hover .team-overlay{
    visibility: visible;
    left: 27px;
}
/*teachers area end */
/* services area start */
.backg-clr {
	background-color: #E4BE3F;
	padding: 30px 120px;
}
.img-size img{
    width: 55%;
    border-radius: 50%;
    transition: .5s;
}
.img-size:hover img{
    transform: rotate(360deg);
}
.red{
    color: rgb(139, 5, 5);
}
.blue{
    color: #025BA7;
}
.green{
    color: rgb(5, 92, 5);
}
.pd-125{
    padding: 125px;
}
.pd-125 h3{
    padding-top: 22px;
    color: rgb(139, 5, 5);
}
.pd-125 p {
	text-align: justify;
	padding: 8px;
}
/* services area end*/
/* gallery area start*/
.gallery {
	position: relative;
	column-count: 3;
	padding: 20px;
}
.image-gallery {
	display: inline-block;
	margin-bottom: 22px;
	overflow: hidden;
    position: relative;
    z-index: -1;
}
.image-gallery::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.8;
    visibility: hidden;
    z-index: 1;
}
.image-gallery img {
	width: 100%;
	transition: .255s ease-in-out;
}
.image-gallery i{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 28px;
	transform: translate(-50%,-50%);
	visibility: hidden;
}
/* gallery area end*/
.clients-review{
    position: relative;
}
.clients-area {
	background-color: #fff;
	padding: 30px;
}
.owl-dots {
	position: absolute;
	left: 50%;
	top: 95%;
	transform: translate(-50%,-50%);
}
.owl-dots button{
    height: 10px;
    width: 10px;
    background-color: #025BA7 !important;
    margin: 0px 5px;
}
.owl-dots button.active {
	background-color: tomato !important;
}
.single-clients {
	padding: 35px;
	box-shadow: 0px 11px 11px -5px;
	border-bottom: 3px solid #EBEBEC;
    transition: .8s;
}
.single-clients p {
	font-size: 15px;
	padding-top: 10px;
}
.single-clients i {
	color: #EB2139;
}
.owl-item.active.center .single-clients {
	background-color: #EB2139;
	color: #fff;
	overflow: hidden;
    transform: scale(1.1);
}
.owl-item.active.center .single-clients i{
    color: #fff;
}
/* price area start */
.price{
	background-color: #F2EEF2;
}
.list-menu {
	justify-content: center;
	display: flex;
	text-transform: capitalize;
    padding: 0;
}
.list-menu li {
	padding: 5px 20px;
	border: 1px solid #DDDEDE;
	background-color: #fff;
    cursor: pointer;
    transition: .7s;
}
.list-menu li:hover{
    background-color: #8D2486;
	color: #fff;
	border: 0;
}
.single-table {
	text-align: center;
	padding: 40px;
	border: 1px solid #DDDEDE;
	margin-bottom: 30px;
	background-color: #fff !important;
    transition: .3s;
}
.single-table:hover {
	transform: translatey(-20px);
}
.single-table i {
	display: block;
	font-size: 55px;
	padding: 20px;
    color: #8D2486;
}
.single-table span {
	font-size: 30px;
	color: #F03239;
	font-weight: bold;
}
.single-table p {
	font-size: 15px;
	font-weight: bold;
	color: #4F4F4F;
}
.single-table ul{
    padding-left: 0;
}
.single-table ul li {
	text-transform: capitalize;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #DDDEDE;
    font-size: 15px;
}
.single-table ul li:last-child{
    border-bottom: 0;
}
/* price area end */